.header-container{
    background-color: rgb(91, 163, 235);
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin-top: 20px;
    border-radius: 20px;
    /* margin-left: 450px; */
}
.header-text{
   margin-left: 450px;
}
.icon-dumbbell{
    margin-left: 10px;
}