.fitness-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.gym-product-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.gym-title{
    margin-left: 50px;
}
.my-img{
    background-color: aliceblue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 8px;
}
.my-profile{
    display: flex;
    margin-top: 10px;
}
.information-container{
    background-color: azure;
    border-radius: 5px;
    padding: 12px;
}
.my-about{
    background-color: white;
    padding: 12px;
    border-radius: 7px;
}
.btn-div{
    background-color: white;
    padding: 20px;
    border-radius: 12px;
}
.btn-div button{
    border: 0;
    padding: 8px;
    border-radius: 50%;
    margin-left: 7px;
}
.btn-div button:hover{
    background-color: darkcyan;
}
.exercise-time{
    background-color: white;
    padding: 10px;
    font-weight: 600;
    border-radius: 12px;
}
.second{
    font-weight: 200;
    margin-left: 50px;
}
.break-time{
    background-color: white;
    padding: 10px;
    font-weight: 600;
    border-radius: 12px;
}
.break-second{
    font-weight: 200;
    margin-left: 60px;
}
.activity-btn{
    background-color: dodgerblue;
    color: aliceblue;
    font-size: medium;
    border: 0;
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    margin-top: 15px;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .fitness-container{
       display: block;
    }
    .information-container{
        margin: 30px;
        padding: 50px;
    }
    .gym-product-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .btn-div{
      padding: 10px;
    }
    .btn-div button{
        margin-left: 30px;
    }
  }